<figure class="locate_jumbotron">
<ul class="breadcrumb">
  <li><a href="home">Home</a></li>
  <li>Locate</li>
</ul>
</figure>
<div style="background:#000; height:220px; margin-top:-10px;padding:30px;">
<h1 style="font-family:Raleway; text-decoration:overline; color:#F5F5DC;text-align:center;padding:10px;font-size:45px"><i>Locate Us</i></h1>
<p style="font-family:Raleway; font-size:18px; color:#F5F5DC; text-align:center; padding:10px ">We would like to welcome everyone to enjoy what they most love about their food.Whether it's taste for your tastebuds or health of your body</br>
feel free to book your organic meal and contact us to ask any question you may have.
</p>
</div>
<div id="locate_icon_div">
 <img src="../meoan/images/address_icon.png" alt="Address Icon" id="addressicon_img">
 <img src="../meoan/images/call_icon.png" alt="Call Icon" id="callicon_img">
 <img src="../meoan/images/email_icon.png" alt="Email Icon" id="emailicon_img">
 <img src="../meoan/images/hour_icon.png" alt="Hour Icon" id="houricon_img">  
</div>
<div id="locate_heading_div">
<h2 id="addressheading">ADDRESS</h2>
<h2 id="callheading">CALL US</h2>
<h2 id="emailheading">EMAIL</h2>
<h2 id="timingheading">OPENING HOURS</h2>
</div>
<div id="locate_details_div">
<div>
<a id="addresslink" href="https://www.google.co.in/maps/place/MEOAN+ORGANICS/@17.4265367,78.3748184,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb93f9684b364f:0xffa7eef5dbb3b6f4!8m2!3d17.4265316!4d78.3770071?hl=en" target="_blank">
<h4>Meoan Organics</br>Besides Wells Fargo Center,</br>Old Mumbai Highway,</br>Gachibowli,Hyderabad</h4></a>
</div>
<h4 id="calldetails">+91-9000547229</br>040-65906155</h4>
<a href="mailto:kratikarochwani09@gmail.com?Subject=Raise%20Query" target="_blank" id="maillink"><h4>meoan_organics@org</h4></a>
<h4 id="timingdetails">Mon-Sun:10am - 10pm</h4>
</div>
<div style="background:#000; height:150px; margin-top:-50px;padding:30px;">
<h1 style="font-family:Raleway; text-decoration:overline; color:#F5F5DC;text-align:center;padding:10px;font-size:45px"><i>Track Your Way</i></h1>
</div>
<div style="background:#BDB76B; height:1050px">
<table border="0" cellpadding="0" cellspacing="3">
        <tr>
            <td colspan="2" style="margin-left:200px; font-size:12px;">
                <label style="margin-left:20px; margin-top:50px;font-size:15px;padding:20px;" >Source:</label>
                <input type="text" id="txtSource" style="width: 300px;height:50px;padding:20px; box-shadow:none; border-radius:15px;text-align:center;font-size:15px;" placeholder="Enter a source" />
                &nbsp;<label style="margin-left:50px; margin-top:50px;font-size:15px;padding:20px;"> Destination:</label>
                <input type="text" id="txtDestination" style="width: 300px;height:50px;padding:20px;font-size:15px; border-radius:15px;text-align:center;" placeholder="Enter a location" />
                <input type="button" style="margin-left:1020px; margin-top:-95px; box-shadow:none;font-size:15px; height:50px; width:200px" class="btn btn-dark" value="Get Route" onclick="GetRoute()" />
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2">
			
			</td>
        </tr>
        <tr>
            <td>
                <div id="dvMap" style="width: 480px; height: 480px; margin-left:100px; margin-top:50px; border-radius:15px;">
                </div>
            </td>
            <td>
                <div id="dvPanel" style="width: 500px; height: 500px; margin-left:100px; margin-top:50px;font-size:10px;">
                </div>
            </td>
        </tr>
    </table>
    <br />
</div>
<script>
</script>