<figure class="our_vision_jumbotron">
<ul class="breadcrumb">
  <li><a href="home">Home</a></li>
  <li>Vision</li>
</ul>
</figure>
<div class="about_div">
<h1><i>Our Story</i></h1>
</div>
<div class="lady">
<p class="item-1"><i>" 
Meoan organic farm, properly speaking,</br>
is not one that uses certain methods</br> 
and substances and avoids others;</br>
it is a farm whose structure is formed</br>
in imitation of the structure of a natural system</br>
that has the integrity, the independence and</br> 
the benign dependence of a social being.
"</i>
</p>
<p class="item-2"><i>"
There is low awareness at the</br>
 producer level organic farming.</br>
 There is limited understanding </br>
 of the health benefits of organic</br>
 food products.We are faced with a</br>
 plethora of decision  authenticity of</br>
 claims and certifications.We want</br>
 people across all groups should</br>
 have access to organic food.
 "</i>
</p>
<p class="item-3"><i>"
It is now many years since we first</br>
 suggested that organic farming might</br>
 have some benefits and ought to be</br>
 taken seriously.I shall never forget</br>
 the vehemence of the reaction..much</br>
 of it coming from the sort of people</br>
 who regard agriculture as an</br>
 industrial process, with production as</br>
 the sole yardstick of success.
 "
 </i></p>
</div>
<div class="gallery_div">
<h1><i>Gallery</i></h1>
</div>